{% extends 'pan/base.html' %}
{% load static %}

{% block styles %}
    <link href="https://cdn.staticfile.org/bootstrap-table/1.19.1/bootstrap-table.min.css" rel="stylesheet">
{% endblock %}

{% block title %}云盘{% endblock %}

{% block sidenavs %}
    <a class="nav-link fs-6 active" id="cloudTab" href="{% url 'pan:cloud' %}">
        <i class="fas fa-cloud me-2"></i>我的云盘
    </a>
    <a class="nav-link fs-6" id="historyTab" href="{% url 'pan:history' %}">
        <i class="fas fa-history me-2"></i>传输历史
    </a>
    <a class="nav-link fs-6" id="binTab" href="{% url 'pan:bin' %}">
        <i class="fas fa-trash me-2"></i>回收站
    </a>
{% endblock %}

{% block content %}
    <div id="toolbar">
        <div class="d-flex align-items-center">
            <nav id="folderNavbar">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item breadcrumb-active" data-custom-uuid>我的云盘</li>
                </ol>
            </nav>
            <div class="ms-auto btn-group shadow-0" role="group">
                <div class="btn-group">
                    <button type="button" id="uploadBtn" class="btn btn-light dropdown-toggle hidden-arrow"
                            data-mdb-toggle="dropdown" data-mdb-placement="bottom"><i
                            class="fas fa-cloud-upload-alt"></i>
                    </button>
                    <button type="button" id="toggleViewBtn" class="btn btn-light" data-mdb-toggle="tooltip"
                            data-mdb-placement="bottom" title="视图"><i class="fas fa-grip-horizontal"></i></button>
                    <button type="button" id="trashBtn" class="btn btn-light" data-mdb-toggle="tooltip"
                            data-mdb-placement="bottom" title="删除"><i class="fas fa-trash"></i></button>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item upload" href="javascript:void (0)">上传文件</a>
                            <input class="d-none uploadInput" data-custom-method="uploadFile" type="file">
                        </li>
                        <li>
                            <a class="dropdown-item upload" href="javascript:void (0)">上传文件夹</a>
                            <input class="d-none uploadInput" data-custom-method="uploadDir" type="file"
                                   webkitdirectory>
                        </li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" id="sortBy" class="btn btn-light dropdown-toggle hidden-arrow "
                            data-mdb-toggle="dropdown" data-mdb-placement="bottom" data-custom-sort="create_time">上传时间
                    </button>
                    <button type="button" id="sortOrder" class="btn btn-light px-2"
                            data-mdb-placement="bottom"
                            data-custom-order="desc"><i class="fas fa-sort-down"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item sort" data-custom-sort="file_name"
                               href="javascript:void (0)">文件名</a></li>
                        <li><a class="dropdown-item sort" data-custom-sort="file_size"
                               href="javascript:void (0)">文件大小</a></li>
                        <li><a class="dropdown-item sort" data-custom-sort="create_time"
                               href="javascript:void (0)">上传时间</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="pb-3 card"></div>
    </div>
    <table id="cloudTable"></table>
    <template id="cloudTemplate">{# 卡片视图 #}
        <div class="col">
            <div class="card">
                <div class="bg-image ripple">
                    <div class="card-body d-flex justify-content-center align-items-center">
                        <svg class="icon my-5" aria-hidden="true">
                            <use xlink:href="#icon-%file_icon%"></use>
                        </svg>
                    </div>
                    <a class="custom-view" href="javascript:void (0)" data-custom-cate="%file_cate%"
                       data-custom-uuid="%file_uuid%" data-custom-name="%file_name%">
                        <div class="mask">
                            <div class="form-check m-3">
                                <input class="d-none d-md-block custom-check form-check-input rounded-2" data-custom-uuid="%file_uuid%"
                                       type="checkbox"/>
                            </div>
                        </div>
                        <div class="hover-overlay">
                            <div class="mask" style="background-color: rgba(0, 0, 0, 0.3)"></div>
                        </div>
                    </a>
                </div>
                <div class="card-footer px-3 d-flex align-items-center">
                    <div class="d-flex flex-column gy-1 col-8">
                        <small class="text-muted text-truncate">%file_name%</small>
                        <small class="text-muted">%file_size%</small>
                    </div>
                    <div class="ms-auto">
                        <a href="javascript:void (0)" data-custom-uuid="%file_uuid%" data-custom-method="fileShare"
                           class="icon-link custom-link">
                            <i class="fas fa-paper-plane"></i>
                        </a>
                        <a href="javascript:void (0)" class="ms-2 icon-link dropdown-toggle hidden-arrow"
                           data-mdb-toggle="dropdown">
                            <i class="fas fa-ellipsis-v"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item custom-link icon-link" data-custom-uuid="%file_uuid%"
                                   data-custom-method="fileDownload"
                                   href="javascript:void(0)"><i class="fas fa-file-download me-2"></i>下载</a>
                            </li>
                            <li><a class="dropdown-item custom-link icon-link" data-custom-uuid="%file_uuid%"
                                   data-custom-method="fileMove"
                                   href="javascript:void(0)"><i class="fas fa-expand-arrows-alt me-2"></i>移动</a></li>
                            <li><a class="dropdown-item custom-link icon-link" data-custom-uuid="%file_uuid%"
                                   data-custom-method="fileTrash"
                                   href="javascript:void(0)"><i class="fas fa-trash me-2"></i>删除</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </template> {# 卡片视图 #}
    <template id="emptyTemplate">{# 空状态 #}
        <div class="el-empty">
            <div class="el-empty__image">
                <svg viewBox="0 0 79 86" version="1.1" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink">
                    <defs>
                        <linearGradient id="linearGradient-1-1" x1="38.8503086%" y1="0%" x2="61.1496914%" y2="100%">
                            <stop stop-color="#FCFCFD" offset="0%"></stop>
                            <stop stop-color="#EEEFF3" offset="100%"></stop>
                        </linearGradient>
                        <linearGradient id="linearGradient-2-1" x1="0%" y1="9.5%" x2="100%" y2="90.5%">
                            <stop stop-color="#FCFCFD" offset="0%"></stop>
                            <stop stop-color="#E9EBEF" offset="100%"></stop>
                        </linearGradient>
                        <rect id="path-3-1" x="0" y="0" width="17" height="36"></rect>
                    </defs>
                    <g id="Illustrations" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="B-type" transform="translate(-1268.000000, -535.000000)">
                            <g id="Group-2" transform="translate(1268.000000, 535.000000)">
                                <path id="Oval-Copy-2"
                                      d="M39.5,86 C61.3152476,86 79,83.9106622 79,81.3333333 C79,78.7560045 57.3152476,78 35.5,78 C13.6847524,78 0,78.7560045 0,81.3333333 C0,83.9106622 17.6847524,86 39.5,86 Z"
                                      fill="#F7F8FC"></path>
                                <polygon id="Rectangle-Copy-14" fill="#E5E7E9"
                                         transform="translate(27.500000, 51.500000) scale(1, -1) translate(-27.500000, -51.500000) "
                                         points="13 58 53 58 42 45 2 45"></polygon>
                                <g id="Group-Copy"
                                   transform="translate(34.500000, 31.500000) scale(-1, 1) rotate(-25.000000) translate(-34.500000, -31.500000) translate(7.000000, 10.000000)">
                                    <polygon id="Rectangle-Copy-10" fill="#E5E7E9"
                                             transform="translate(11.500000, 5.000000) scale(1, -1) translate(-11.500000, -5.000000) "
                                             points="2.84078316e-14 3 18 3 23 7 5 7"></polygon>
                                    <polygon id="Rectangle-Copy-11" fill="#EDEEF2"
                                             points="-3.69149156e-15 7 38 7 38 43 -3.69149156e-15 43"></polygon>
                                    <rect id="Rectangle-Copy-12" fill="url(#linearGradient-1-1)"
                                          transform="translate(46.500000, 25.000000) scale(-1, 1) translate(-46.500000, -25.000000) "
                                          x="38" y="7" width="17" height="36"></rect>
                                    <polygon id="Rectangle-Copy-13" fill="#F8F9FB"
                                             transform="translate(39.500000, 3.500000) scale(-1, 1) translate(-39.500000, -3.500000) "
                                             points="24 7 41 7 55 -3.63806207e-12 38 -3.63806207e-12"></polygon>
                                </g>
                                <rect id="Rectangle-Copy-15" fill="url(#linearGradient-2-1)" x="13" y="45" width="40"
                                      height="36"></rect>
                                <g id="Rectangle-Copy-17" transform="translate(53.000000, 45.000000)">
                                    <mask id="mask-4-1" fill="white">
                                        <use xlink:href="#path-3-1"></use>
                                    </mask>
                                    <use id="Mask" fill="#E0E3E9"
                                         transform="translate(8.500000, 18.000000) scale(-1, 1) translate(-8.500000, -18.000000) "
                                         xlink:href="#path-3-1"></use>
                                    <polygon id="Rectangle-Copy" fill="#D5D7DE" mask="url(#mask-4-1)"
                                             transform="translate(12.000000, 9.000000) scale(-1, 1) translate(-12.000000, -9.000000) "
                                             points="7 0 24 0 20 18 -1.70530257e-13 16"></polygon>
                                </g>
                                <polygon id="Rectangle-Copy-18" fill="#F8F9FB"
                                         transform="translate(66.000000, 51.500000) scale(-1, 1) translate(-66.000000, -51.500000) "
                                         points="62 45 79 45 70 58 53 58"></polygon>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>
            <div class="el-empty__description">
                <p>使用工具栏上传文件</p>
            </div>
        </div>
    </template>{# 空状态 #}
{% endblock %}

{% block componets %}{#  文件移动，分享和进度条 #}
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 4">
        <div id="uploadToast" class="toast fade hide">
            <div class="toast-header">
                <i class="fas fa-info-circle text-info"></i>
                <sapn>上传进度</sapn>
                <button type="button" class="ms-auto btn-close"></button>
            </div>
            <div class="toast-body">
                <div class="progress" style="height: 10px">
                    <div class="progress-bar bg-info rounded"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="moveModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content" style="height: 400px">
                <div class="modal-header">
                    <h5 class="modal-title">移动文件</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal"></button>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button class="btn btn-light" data-mdb-dismiss="modal">取消</button>
                    <button class="btn btn-primary">确认</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="shareModal" data-custom-id="">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <h5 class="modal-title">链接设置</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 border-end">
                            <div class="mb-3">
                                <p>链接分享</p>
                                <div class="bg-image hover-overlay ripple copy-text text-center w-100">
                                    <div class="border rounded text-truncate py-2 px-1" id="shareLink"></div>
                                    <a href="javascript:void(0)" class="text-dark copy-mask">
                                        <div class="mask rounded p-2 text-truncate" style="background-color: #EEEEEE">
                                            复制
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="mb-3">
                                <p>口令分享</p>
                                <div class="bg-image hover-overlay ripple copy-text text-center">
                                    <div class="w-100 border rounded py-2 px-1" id="shareKey"></div>
                                    <a href="javascript:void(0)" class="text-dark copy-mask">
                                        <div class="mask rounded p-2" style="background-color: #EEEEEE">复制</div>
                                    </a>
                                </div>
                            </div>
                            <div class="mb-3 text-center">
                                <button class="btn btn-info">一键复制</button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <p>设置</p>
                            <div class="d-flex align-items-center mb-3">
                                <div>有效期</div>
                                <div class="dropdown ms-auto">
                                    <sapn class="me-1" id="delta" data-custom-delta="7">7天</sapn>
                                    <a class="icon-link hidden-arrow" href="javascript:void (0)"
                                       data-mdb-toggle="dropdown">
                                        <i class="fas fa-angle-down"></i>
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <li><a class="dropdown-item" data-custom-delta="1"
                                               href="javascript:void (0)">1天</a></li>
                                        <li><a class="dropdown-item" data-custom-delta="7"
                                               href="javascript:void (0)">7天</a></li>
                                        <li><a class="dropdown-item" data-custom-delta="30" href="javascript:void (0)">30天</a>
                                        </li>
                                        <li><a class="dropdown-item" data-custom-delta="999" href="javascript:void (0)">永久有效</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="mb-3">
                                <p>补充描述</p>
                                <div class="form-outline">
                                    <textarea class="form-control border" id="summary" rows="3"
                                              maxlength="100"></textarea>
                                    <label class="form-label copy-text">此信息将展示给分享的用户</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}{#  文件移动，分享和进度条  #}

{% block scripts %}
    <script src="https://cdn.staticfile.org/bootstrap-table/1.19.1/bootstrap-table.min.js"></script>
    <script src="https://cdn.staticfile.org/bootstrap-table/1.19.1/extensions/custom-view/bootstrap-table-custom-view.min.js"></script>
    <script src="https://cdn.staticfile.org/bootstrap-table/1.19.1/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>
    <script src="//at.alicdn.com/t/font_2926309_gvlwiirwihf.js"></script>
    <script src="{% static 'pan/js/common-table.js' %}"></script>
    <script src="{% static 'pan/js/cloud-table.js' %}"></script>
{% endblock %}
