<!DOCTYPE html>{% load static %}
<html lang="zh" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'pan/vendor/mdb/mdb.min.css' %}" rel="stylesheet">
    <link href="{% static 'pan/vendor/font-awesome/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'pan/vendor/videojs/video-js.min.css' %}" rel="stylesheet">
    <link href="{% static 'pan/vendor/viewerjs/viewer.min.css' %}" rel="stylesheet" >
    <link href="{% static 'pan/css/style.css' %}" rel="stylesheet">
    <title>详情</title>
</head>
<body class="h-100">
<nav class="navbar navbar-light bg-white shadow-0 border-bottom">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button">
            <i class="fa-solid fa-chevron-left"></i>
        </button>
        <ul class="navbar-nav flex-row ms-auto align-items-center">
            <li class="nav-item me-3">
                <a class="nav-link" data-mdb-toggle="tooltip" data-mdb-placement="bottom" data-action="share"
                   title="分享">
                    <i class="fa-solid fa-share-nodes" data-action="share"></i>
                </a>
            </li>
            <li class="nav-item me-3">
                <a class="nav-link" data-mdb-toggle="tooltip" data-mdb-placement="bottom" data-action="download"
                   title="下载">
                    <i class="fa-solid fa-circle-down" data-action="download"></i>
                </a>
            </li>
            <li class="nav-item me-4">
                <a class="nav-link" data-mdb-toggle="tooltip" data-mdb-placement="bottom" data-action="info"
                   title="信息">
                    <i class="fa-solid fa-file-lines" data-action="info"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid" style="height: calc(100% - 61px)">
    <div class="row h-100">
        <div class="col-md-9 h-100 bg-light">
            <div class="h-100 w-auto d-flex justify-content-center align-items-center d-none" id="deniedTip">
                <div class="text-center">
                    <p></p>
                    <a class="btn btn-info">立即下载</a>
                </div>
            </div>
            <div class="h-100 w-auto d-flex justify-content-center align-items-center d-none" id="audioPlayer">
                <div class="card" style="width: 20rem">
                    <img class="card-img-top" src="{% static 'pan/img/music.jpg' %}" alt="..">
                    <div class="card-body">
                        <div class="progress rounded mb-3">
                            <div class="progress-bar bg-info rounded" id="progressbar"></div>
                        </div>
                        <div class="d-flex justify-content-between small text-muted">
                            <span id="timer">0:00</span>
                            <span id="duration">0:00</span>
                        </div>
                        <div class="row gx-0 align-items-center mt-3">
                            <div class="col-2">
                                <i id="playBtn" class="fa-solid fa-play"></i>
                            </div>
                            <div class="col-10 d-flex align-items-center">
                                <i class="fa-solid fa-volume-down"></i>
                                <div class="ms-2 range w-100">
                                    <input id="volume" type="range" class="form-range" value="30"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="h-100 w-auto d-flex justify-content-center align-items-center d-none">
                <img class="mw-100 mh-100" id="image" src="" alt="..."/>
            </div>
            <div class="h-100 text-center d-none overflow-scroll" id="officeViewer"></div>
            <video class="h-100 w-auto video-js d-none" id="videoPlayer"></video>
        </div>
        <div class="col-md-3 h-100 border-start p-3">
            <h6 class="mb-3 fw-bold">文件信息</h6>
            <div class="text-muted small visible" id="info">
                <div class="text-center mb-3">
                    <svg class="icon" aria-hidden="true" style="width: 5rem; height: 5rem">
                        <use></use>
                    </svg>
                </div>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
            </div>
        </div>
    </div>
</div>
<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="toast" class="toast">
        <div class="toast-header">
            <i></i>
            <button type="button" class="ms-auto btn-close" data-mdb-dismiss="toast"></button>
        </div>
        <div class="toast-body"></div>
    </div>
</div>
<script src="{% static 'pan/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'pan/vendor/mdb/mdb.min.js' %}"></script>
<script src="{% static 'pan/vendor/howler/howler.min.js' %}"></script>
<script src="{% static 'pan/vendor/videojs/video.min.js' %}"></script>
<script src="{% static 'pan/vendor/videojs/zh-CN.js' %}"></script>
<script src="{% static 'pan/vendor/iconfont/iconfont.js' %}"></script>
<script src="{% static 'pan/vendor/jszip/jszip.min.js' %}"></script>
<script src="{% static 'pan/vendor/docx-preview/docx-preview.min.js' %}"></script>
<script src="{% static 'pan/vendor/pdfjs/pdf.min.js' %}"></script>
<script src="{% static 'pan/vendor/viewerjs/viewer.min.js' %}"></script>
<script src="{% static 'pan/js/utils.js' %}"></script>
<script src="{% static 'pan/js/config.js' %}"></script>
<script src="{% static 'pan/js/detail.js' %}"></script>
</body>
</html>