{% load static %}
<!DOCTYPE html>
<html lang="zh" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.bootcdn.net/ajax/libs/mdb-ui-kit/3.9.0/mdb.min.css" rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="{% static 'pan/css/common.css' %}" rel="stylesheet">
    <title>分享</title>
</head>
<body class="h-100">
{% if not expired %}
    <div class="position-fixed px-4 py-3">
        <a href="{% url 'pan:index' %}" class="text-reset"><i class="fas fa-chevron-left me-2"></i>返回首页</a>
    </div>
{% endif %}
<div class="d-flex justify-content-center align-items-center h-100">
    {% if expired %}
        <div class="el-empty">
            <div class="el-empty__image">
                <svg viewBox="0 0 79 86" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink">
                    <defs>
                        <linearGradient id="linearGradient-1-1" x1="38.8503086%" y1="0%" x2="61.1496914%" y2="100%">
                            <stop stop-color="#FCFCFD" offset="0%"></stop>
                            <stop stop-color="#EEEFF3" offset="100%"></stop>
                        </linearGradient>
                        <linearGradient id="linearGradient-2-1" x1="0%" y1="9.5%" x2="100%" y2="90.5%">
                            <stop stop-color="#FCFCFD" offset="0%"></stop>
                            <stop stop-color="#E9EBEF" offset="100%"></stop>
                        </linearGradient>
                        <rect id="path-3-1" x="0" y="0" width="17" height="36"></rect>
                    </defs>
                    <g id="Illustrations" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="B-type" transform="translate(-1268.000000, -535.000000)">
                            <g id="Group-2" transform="translate(1268.000000, 535.000000)">
                                <path id="Oval-Copy-2"
                                      d="M39.5,86 C61.3152476,86 79,83.9106622 79,81.3333333 C79,78.7560045 57.3152476,78 35.5,78 C13.6847524,78 0,78.7560045 0,81.3333333 C0,83.9106622 17.6847524,86 39.5,86 Z"
                                      fill="#F7F8FC"></path>
                                <polygon id="Rectangle-Copy-14" fill="#E5E7E9"
                                         transform="translate(27.500000, 51.500000) scale(1, -1) translate(-27.500000, -51.500000) "
                                         points="13 58 53 58 42 45 2 45"></polygon>
                                <g id="Group-Copy"
                                   transform="translate(34.500000, 31.500000) scale(-1, 1) rotate(-25.000000) translate(-34.500000, -31.500000) translate(7.000000, 10.000000)">
                                    <polygon id="Rectangle-Copy-10" fill="#E5E7E9"
                                             transform="translate(11.500000, 5.000000) scale(1, -1) translate(-11.500000, -5.000000) "
                                             points="2.84078316e-14 3 18 3 23 7 5 7"></polygon>
                                    <polygon id="Rectangle-Copy-11" fill="#EDEEF2"
                                             points="-3.69149156e-15 7 38 7 38 43 -3.69149156e-15 43"></polygon>
                                    <rect id="Rectangle-Copy-12" fill="url(#linearGradient-1-1)"
                                          transform="translate(46.500000, 25.000000) scale(-1, 1) translate(-46.500000, -25.000000) "
                                          x="38" y="7" width="17" height="36"></rect>
                                    <polygon id="Rectangle-Copy-13" fill="#F8F9FB"
                                             transform="translate(39.500000, 3.500000) scale(-1, 1) translate(-39.500000, -3.500000) "
                                             points="24 7 41 7 55 -3.63806207e-12 38 -3.63806207e-12"></polygon>
                                </g>
                                <rect id="Rectangle-Copy-15" fill="url(#linearGradient-2-1)" x="13" y="45" width="40"
                                      height="36"></rect>
                                <g id="Rectangle-Copy-17" transform="translate(53.000000, 45.000000)">
                                    <mask id="mask-4-1" fill="white">
                                        <use xlink:href="#path-3-1"></use>
                                    </mask>
                                    <use id="Mask" fill="#E0E3E9"
                                         transform="translate(8.500000, 18.000000) scale(-1, 1) translate(-8.500000, -18.000000) "
                                         xlink:href="#path-3-1"></use>
                                    <polygon id="Rectangle-Copy" fill="#D5D7DE" mask="url(#mask-4-1)"
                                             transform="translate(12.000000, 9.000000) scale(-1, 1) translate(-12.000000, -9.000000) "
                                             points="7 0 24 0 20 18 -1.70530257e-13 16"></polygon>
                                </g>
                                <polygon id="Rectangle-Copy-18" fill="#F8F9FB"
                                         transform="translate(66.000000, 51.500000) scale(-1, 1) translate(-66.000000, -51.500000) "
                                         points="62 45 79 45 70 58 53 58"></polygon>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>
            <div class="el-empty__description">
                <p>文件已过期</p>
                <a class="btn btn-light btn-lg shadow-1" href="{% url 'pan:index' %}">返回主页</a>
            </div>
        </div>
    {% else %}
        <div id="shareCard" class="card" style="width: 18rem">
            <div class="card-header">
                <i class="fas fa-cloud" style="color: #9E9E9E"></i>
            </div>
            <div class="card-body">
                <div class="mb-2">
                    <h5 class="card-title">{{ file.file_name }}</h5>
                    <div class="small mb-1">{{ share.expire_time }}</div>
                    <div class="text-muted small" style="height: 6rem">{{ share.summary }}</div>
                </div>
                <div class="d-flex border rounded p-2 mb-2">
                    <div class="me-2">
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-file_default"></use>
                        </svg>
                    </div>
                    <div class="flex-grow-1 text-muted text-truncate" style="font-size: 0.5rem; line-height: 1rem">
                        <div>{{ file.file_name }}</div>
                        <div id="size">{{ file.file_size }}</div>
                    </div>
                </div>
                <a class="btn btn-info">下载</a>
            </div>
        </div>
    {% endif %}
</div>
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5">
    <div id="toast" class="toast fade hide">
        <div class="toast-header">
            <i class="fas fa-check-circle fa-lg text-success"></i>
            <button type="button" class="ms-auto btn-close" data-mdb-dismiss="toast"></button>
        </div>
        <div class="toast-body"></div>
    </div>
</div>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/mdb-ui-kit/3.9.0/mdb.min.js"></script>
<script src="//at.alicdn.com/t/font_2926309_gvlwiirwihf.js"></script>
<script src="{% static 'pan/js/utils.js' %}"></script>
<script src="{% static 'pan/js/config.js' %}"></script>
<script>
    $(document).ready(function () {
        let toast = new custom.Toast($('#toast'))
        let elem = $('#size')
        let btn = $('.btn-info')

        elem.text(custom.fileSizeFormat(Number(elem.text())))
        btn.click(function () {
            toast.setIcon('<i class="fas fa-info-circle text-info"></i>')
            toast.setText('正在打包请稍等')
            toast.getToast().show()
            location.href = ctx + '/download/' + '{{ file.file_uuid }}'
        })
    })
</script>
</body>
</html>